body {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    height: 40px;
    text-align: center;
    font-size: 24px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header div {
    display: inline-block;
    margin: 10px 22px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: calc(100vh - 100px);
    width: 100vw;

}

#button {
    width: 220px;
    height:  220px;
    border-radius: 99%;
    background-image: url(https://pvsz2.ru/statics/plants-big/68.png);
    background-position: center;
    background-size: 82%;
    background-repeat: no-repeat;
    filter: hue-rotate(10deg);
    border: 12px solid rgb(170, 233, 0);
    box-shadow: 0 12px 12px black;
    cursor: pointer;
}

#button:active {
    filter: hue-rotate(49deg);
    transform: translateY(-7px);
    
}

footer {
    background-color: green;
    height: 135px;
    text-align: center;
    font-size: 140px;
}

footer button {
     background-color:lightblue;
    margin-top: 20px;
    border-radius: 52px;
}

footer button span {
    display: block;
    font-size: 30px;
}
